.calendar__container {
  display: flex;
  width: 34%;
  background-color: #272829;
  min-width: 500px;
  justify-content: center;
  padding-top: 193px;

  .calendar {
    min-width: 500px;
    &__nav {
      padding: 0 16px;
      padding-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__month {
      font-size: 19px;
      line-height: 23px;
      font-weight: 500;
      color: $text-color;
      text-transform: uppercase;

    }

    &__left-arrow, &__right-arrow {
      border-top: 3px solid $border;
      border-left: 3px solid $border;
      width: 12px;
      height: 12px;
      transform: rotate(-45deg);
      cursor: pointer;
    }

    &__right-arrow {
      transform: rotate(135deg);
    }


    &__day-names {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 19px 0;
    }
    &__day-name {
      padding: 0 16px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #FFFFFF;
    }

    &__grid {
      padding: 32px 0;
    }
    &__week {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
    }

    &__day {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      cursor: pointer;
      font-size: 17px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      color: $text-color;

      &:hover {
        background-color: #FDD00050;
      }

      &-non-current-week {
        opacity: 0.24 ;
      }
      &-active {
        background-color: $yellow-color;
        color: $about-color;
        &:hover {
          background-color: $yellow-color;
        }
        &:after {
          background-color: $about-color!important;
        }
      }
      &-in-list {
        &:after {
          position: absolute;
          content: "";
          bottom: 5px;
          left: 50%;
          transform: translate(-40%);
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: $yellow-color;
        }
      }
    }



    .separator {
      margin: 0 auto;
      border-bottom: 2px solid $border;
      width: calc(100% - 32px);
    }
  }
}
