.header {
  display: flex;
  align-items: flex-end;

  padding: 50px 110px;

  &__logo {
    width: 165px;
    height: 50px;
  }

  .navigation {
    margin-left: auto;

    &__link {
      position: relative;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.56px;
      color: #3D3D3D;
      margin-left: 70px;
      text-transform: uppercase;
    }
  }
}

.active {
  &:after {
    position: absolute;

    display: block;
    content: "";

    width: 2.5vw;
    height: 2.5vw;
    max-width: 14px;
    max-height: 14px;


    background-color: $yellow-color;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
  }
}