.main {
  background: url("/img/background.png") center/cover no-repeat;
  display: flex;
  flex: 1 1 auto;

  &__text-container {
    display: inline-block;
    width: 66%;
    padding: 0 33px;
    margin-top: 193px;
  }

  &__title {
    margin: 0;
    color: $yellow-color;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 50px;
    font-weight: 900;
    line-height: 64px;
    text-align: right;
  }

  &__description {
    margin-top: 44px;
    color: $text-color;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-align: right;
    line-height: 40px;
  }
}